.map{
  /* border: 1px solid black; */
}
.paddock-info{
  border: 1px solid black;
  /* margin-left: 30px; */
}
.display-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 80%;
  margin: auto;
  /* border: 1px solid black; */

}

/* table */
th {
  color: navy;
  border-bottom: 1px solid black;
  background-color: ghostwhite;
  font-size: 12px;
  padding: 5px;
  font-family: arial;
  /* text-align: center; */

}
td {
  /* border: 1px solid black; */
  padding: 2px;
  border: solid 1px black;
  font-family: arial;
  text-align: center;

}
th {
  /* border: 1px solid black; */
  padding: 2px;
  border: solid 1px black;
  font-family: arial;
  text-align: center;

}
tr {
  /* border: 1px solid black; */
  background-color: ghostwhite;
  border: solid 1px black;

  /* text-align: center; */
  font-family: arial;
}
tbody {
  border: 1px solid black;
}

#table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  /* border: 1px solid black; */
}
.comment-form{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;

}

.table-row-paddockState-true {
  color: green;
}

.table-row-paddockState-false {
  color: red;
}
